name: Terraform Dev Deploy
on:
    pull_request:
        branches:
            - develop
permissions:
    id-token: write
    contents: read
jobs:
    plan:
        runs-on: ubuntu-latest
        steps:
            - name: Check Repo
              uses: actions/checkout@v4
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.8.5
            - name: AWS access using OIDC
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::646057972714:role/gihub-oidc-udemy-course
                role-session-name: github-actions
                aws-region: us-east-1
            - name: Terraform init
              run: terraform init
            - name: Terraform validate
              run: terraform validate
            - name: Terraform plan
              run: terraform plan